{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tekiee Store</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-100 bg-[#FFEBCD] flex flex-col">
  <h1 class="tagline text-center mb-4" style="text-align: center; font-family: 'Lilita One'; color: #784935; margin-top: 15px; font-size: 85px;">Tekiee<span class="tagline text-center mb-4" style="color: #786e67; font-family: 'Dancing Script', cursive; font-weight: 700; font-size: 95px;">Store</span></h1>
  <div class="tagline text-center mb-10" style="font-family: 'Poppins', sans-serif; color: #000000; font-size: 25px;">Your Eyes, Our Style</div>



  <div class="relative grid grid-cols-1 z-30 md:grid-cols-3 gap-8">
    {% include "card_info.html" with title='NPM' value=npm %}
    {% include "card_info.html" with title='Name' value=name %}
    {% include "card_info.html" with title='Class' value=class %}
  </div>

  <div class="flex justify-center mb-12 mt-7">
    <div class="flex rounded-md items-center bg-600 bg-[#403530] font-bold py-2 px-4 w-fit">
      <h1 class="text-[#FFEBCD] text-center">Last Login: {{last_login}}</h1>
    </div>
  </div>
  
  <div class="flex justify-center mb-9">
    <a href="{% url 'main:create_product_entry' %}" class=" bg-600 bg-[#403530] text-[#FFEBCD] font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
      Add New Product
    </a>
  </div>
  
  {% if not product_entries %}
  <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
      <img src="{% static 'image/sedih-banget.png' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
      <p class="text-center text-gray-600 mt-4">Belum ada produk di Tekiee Store.</p>
  </div>
  {% else %}
  <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
      {% for product in product_entries %}
          {% include 'card_product.html' with product=product %}
      {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock content %}
