{% extends "base.html" %}

{% block title %}Tekiee Store{% endblock title %}

{% block content %}
  <div class="container">
    <h1>Tekiee<span class="store">Store</span></h1>
    <div class="tagline">Your Eyes, Our Style</div>

    <div class="button-container">
      <a href="{% url 'main:create_product_entry' %}">
        <button>Add New Product</button>
      </a>
      <a href="{% url 'main:logout' %}">
        <button>Logout</button>
      </a>
      <h5>Sesi terakhir login: {{ last_login }}</h5>
    </div>


    {% if not product_entries %}
      <p style="color: #dac7b9;">No products available in the Tekiee Store.</p>
    {% else %}
      <table class="product-table">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for product in product_entries %}
            <tr>
              <td>{{ product.name }}</td>
              <td>${{ product.price }}</td>
              <td>{{ product.description }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

    <div class="additional-info">
      =============================<br>
      Nama : {{ name }}<br>
      Kelas : {{ class }}<br>
      NPM : {{ npm }}<br>
      =============================
    </div>
  </div>
{% endblock content %}

{% block meta %}
  <style>
    h1 {
      text-align: center;
      font-family: 'Lilita One', sans-serif;
      color: #b98b7a;
      margin-top: 15px;
      font-size: 60px; /* Font size */
      text-shadow: 2px 2px 4px #000000, -1px -1px 2px #000000;
    }

    .store {
      color: #dac7b9; /* Color for the word "Store" */
      font-family: 'Dancing Script', cursive; /* Font style for "Store" */
      font-weight: 700;
      font-size: 85px; /* Font size for "Store" */
      text-shadow: 2px 2px 4px #000000, -1px -1px 2px #000000;
    }

    .tagline {
      text-align: center;
      font-family: 'Poppins', sans-serif;
      color: #dac7b9;
      font-size: 20px;
      margin-top: -30px;
      margin-bottom: 45px;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }

    .button-container {
      text-align: center;
      margin-bottom: 30px;
    }

    .button-container button {
      padding: 10px 20px;
      background-color: #b98b7a;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
    }

    .button-container button:hover {
      background-color: #dac7b9;
      color: #403530;
    }

    .product-table {
      width: 80%;
      margin: 0 auto;
      border-collapse: collapse;
      background-color: #fff;
      border-radius: 10px;
      overflow: hidden;
    }

    .product-table th, .product-table td {
      border: 1px solid #b98b7a;
      padding: 10px;
      text-align: center;
      color: #403530;
    }

    .product-table th {
      background-color: #dac7b9;
      color: #403530;
    }

    .product-table td {
      background-color: #fff;
    }

    .additional-info {
      text-align: center;
      font-family: 'Poppins', sans-serif;
      color: #dac7b9;
      margin-top: 45px;
      margin-bottom: 45px;
      font-size: 15px;
    }
  </style>
{% endblock meta %}
